body {
    font-family: sans-serif;
    padding: 0.5em 3em;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

label {
    font-size: 16px;
}

#dropdown {
    font-size: 14px;
}

.rect:hover{
    stroke:black;
    stroke-width: 0.5px;
}

.circle:hover{
    stroke:black;
}

.axis-label {
    font-size: 15px;
    fill: black;
    text-anchor: middle;
}

path.world {
    fill: #f7f7f7;
    stroke: #e3e3e3;
}

.tooltip {
    display: block;
    height: fit-content;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    pointer-events: none;
    padding: 10px;
}